#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .todo-list-image {
  width: 300px;
  height: auto;
  padding-left: 50px;
} */

nav {
  /*background-color: #090b0e;  */
  padding: 10px; /* Padding around the nav */
  font-size: 1.1rem; /* Larger font size */
  margin-bottom: 40px;
  align-items: center;
}

.nav-link {
  background-color: rgb(247, 247, 247);
  /* border: 2px solid #909091; */
  color: rgba(68, 68, 68, 0.87);
  /* color: #ffffff;  */
  /* color: #007bff;  */
  padding: 6px 20px;
  margin: 0 20px; /* Space between */
  border-radius: 20px;
  /* transition: color 0.3s; Smooth color transition */
}

.nav-link:hover {
  color: #ffffff;
  /*font-weight: bold;  */
  background-color: rgb(72, 118, 204);
  /* text-decoration: underline; */
}

.todo-list-image1 {
  max-width: 300px;
  height: auto;
  animation: fadeIn 1s ease-in-out forwards;
  display: inline-block;
  animation-iteration-count: 1;
  /* padding-left: 50px; */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
    transform: scale(0.1); /* Optional: start slightly smaller */
  }
  100% {
    opacity: 1; /* End fully opaque */
    transform: scale(1); /* End at normal size */
  }
}

/* Hover effect: shake */
.todo-list-image1:hover {
  animation: shake 0.5s ease-in-out; /* Shake when hovered */
  filter: drop-shadow(0 0 2em rgba(166, 171, 253, 0.6));
}

/* Keyframes for shaking */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* form input box styling */
#todoTitle {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: rgb(37, 36, 36);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  
  /* align-items: center; */
  /* background-color: red; */
  /* width: 100%; */
  /* width: 200px; */
  /* letter-spacing: 1px; */
  /* font-family: system-ui; */
}

#todoTitle:focus {
  border-color: cornflowerblue; /* Change border color */
  box-shadow: 0 0 5px rgba(109, 156, 255, 0.5), 0 0 10px rgba(44, 82, 187, 0.3); /* Glow effect */
  outline: none; /* Remove default outline */
}

@media (max-width: 500px) {
  #todoTitle {
    width: 240px;
    align-items: center;
  }
}
