#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .todo-list-image {
  width: 300px;
  height: auto;
  padding-left: 50px;
} */

.todo-list-image1 {
  width: 300px;
  height: auto;
  animation: fadeIn 1s ease-in-out forwards;
  display: inline-block;
  animation-iteration-count: 1;
  /* padding-left: 50px; */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
    transform: scale(0.1); /* Optional: start slightly smaller */
  }
  100% {
    opacity: 1; /* End fully opaque */
    transform: scale(1); /* End at normal size */
  }
}

/* Hover effect: shake */
.todo-list-image1:hover {
  animation: shake 0.5s ease-in-out; /* Shake when hovered */
  filter: drop-shadow(0 0 2em rgba(166, 171, 253, 0.6));
}

/* Keyframes for shaking */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* form input box styling */
#todoTitle {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: rgb(37, 37, 37);
}

#todoTitle:focus {
  border-color: cornflowerblue; /* Change border color */
  box-shadow: 0 0 5px rgba(109, 156, 255, 0.5), 0 0 10px rgba(44, 82, 187, 0.3); /* Glow effect */
  outline: none; /* Remove default outline */
}

/* to do list li's styling*/
.todo-list-item {
  padding: 10px;
  margin: 5px 0 5px -10px;
  /* width: 264px; */
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  /* list-style-type: none; */
}
